/Address_Service/.mvn
/Address_Service/.settings
/Address_Service/mysql
/Address_Service/mysqlkube
/Address_Service/target
/Address_Service/mvnw
/Address_Service/mvnw.exe
/api_gateway/.mvn
/api_gateway/.settings
/api_gateway/target
/api_gateway/mvnw
/api_gateway/mvnw.exe
/Cart_Service/.mvn
/Cart_Service/.settings
/Cart_Service/mysql
/Cart_Service/mysqlkube
/Cart_Service/target
/Cart_Service/mvnw
/Cart_Service/mvnw.exe
/client/node_modules
/Customer_Service/.mvn
/Customer_Service/.settings
/Customer_Service/mysql
/Customer_Service/mysqlkube
/Customer_Service/target
/Customer_Service/mvnw
/Customer_Service/mvnw.exe
/discovery_server/.mvn
/discovery_server/.settings
/discovery_server/target
/discovery_server/mvnw
/discovery_server/mvnw.exe
/Order_Service/.mvn
/Order_Service/.settings
/Order_Service/mysql
/Order_Service/mysqlkube
/Order_Service/mysqlkube2
/Order_Service/target
/Order_Service/mvnw
/Order_Service/mvnw.exe
/Product_Service/.mvn
/Product_Service/.settings
/Product_Service/mysql
/Product_Service/mysqlkube
/Product_Service/target
/Product_Service/mvnw
/Product_Service/mvnw.exe
